<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Simple Secure Application</display-name>

	<!-- ==== Servlets ================================================================== -->
	<servlet>
		<servlet-name>PerformFunctionAndGoBackServlet</servlet-name>
		<servlet-class>org.meri.simpleshirosecuredapplication.servlet.PerformFunctionAndGoBackServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- ==== Servlets Mapping ========================================================== -->
	<servlet-mapping>
		<servlet-name>PerformFunctionAndGoBackServlet</servlet-name>
		<url-pattern>/simpleshirosecuredapplication/masterservlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
